[com_0]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=model_8448
activemodel=model_8447
zoom=1200
xan=350

[com_1]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=model_8450
activemodel=model_8449
zoom=1200
xan=350

[com_2]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=model_8452
activemodel=model_8451
zoom=1200
xan=350

[com_3]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=model_8454
activemodel=model_8453
zoom=1200
xan=350

[com_4]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=model_8456
activemodel=model_8455
zoom=1200
xan=350

[com_5]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=model_8458
activemodel=model_8457
zoom=1200
xan=350

[com_6]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=model_8460
activemodel=model_8459
zoom=1200
xan=350

[com_7]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=model_8462
activemodel=model_8461
zoom=1200
xan=350

[com_8]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=model_8464
activemodel=model_8463
zoom=1200
xan=350

[com_9]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=model_8466
activemodel=model_8465
zoom=1200
xan=350

[com_10]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=model_8468
activemodel=model_8467
zoom=1200
xan=350

[com_11]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=model_8470
activemodel=model_8469
zoom=1200
xan=350

[com_12]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=model_8472
activemodel=model_8471
zoom=1200
xan=350

[com_13]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=model_8474
activemodel=model_8473
zoom=1200
xan=350

[com_14]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=model_8476
activemodel=model_8475
zoom=1200
xan=350

[com_15]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=model_8478
activemodel=model_8477
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=model_8480
activemodel=model_8479
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=model_8482
activemodel=model_8481
zoom=1200
xan=350

[com_18]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=model_8484
activemodel=model_8483
zoom=1200
xan=350

[com_19]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=model_8486
activemodel=model_8485
zoom=1200
xan=350

[com_20]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=model_8488
activemodel=model_8487
zoom=1200
xan=350

[com_21]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=model_8490
activemodel=model_8489
zoom=1200
xan=350

[com_22]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=model_8492
activemodel=model_8491
zoom=1200
xan=350

[com_23]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=model_8494
activemodel=model_8493
zoom=1200
xan=350

[com_24]
type=model
x=248
y=130
width=32
height=32
model=model_8519
zoom=1200
xan=350

[com_25]
type=model
x=248
y=130
width=32
height=32
model=model_8520
zoom=1200
xan=350

[com_26]
type=layer
x=119
y=125
width=32
height=32
hide=yes

[com_27]
layer=com_26
type=model
x=129
y=5
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=model_8495
activemodel=model_8496
zoom=1200
xan=350

[com_28]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[com_29]
layer=com_28
type=model
x=58
y=41
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=model_8497
activemodel=model_8498
zoom=1200
xan=350

[com_30]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[com_31]
layer=com_30
type=model
x=64
y=-32
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=model_8499
activemodel=model_8500
zoom=1200
xan=350

[com_32]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[com_33]
layer=com_32
type=model
x=-18
y=74
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=model_8501
activemodel=model_8502
zoom=1200
xan=350

[com_34]
type=layer
x=268
y=90
width=32
height=32
hide=yes

[com_35]
layer=com_34
type=model
x=-20
y=40
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=model_8503
activemodel=model_8504
zoom=1200
xan=350

[com_36]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[com_37]
layer=com_36
type=model
x=21
y=-73
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=model_8505
activemodel=model_8506
zoom=1200
xan=350

[com_38]
type=layer
x=269
y=162
width=32
height=32
hide=yes

[com_39]
layer=com_38
type=model
x=-21
y=-32
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=model_8507
activemodel=model_8508
zoom=1200
xan=350

[com_40]
type=layer
x=241
y=246
width=32
height=32
hide=yes

[com_41]
layer=com_40
type=model
x=7
y=-116
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=model_8509
activemodel=model_8510
zoom=1200
xan=350

[com_42]
type=layer
x=280
y=54
width=32
height=32
hide=yes

[com_43]
layer=com_42
type=model
x=-32
y=76
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=model_8511
activemodel=model_8512
zoom=1200
xan=350

[com_44]
type=layer
x=281
y=89
width=32
height=32
hide=yes

[com_45]
layer=com_44
type=model
x=-33
y=41
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=model_8513
activemodel=model_8514
zoom=1200
xan=350

[com_46]
type=layer
x=287
y=202
width=32
height=32
hide=yes

[com_47]
layer=com_46
type=model
x=-39
y=-72
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=model_8515
activemodel=model_8516
zoom=1200
xan=350

[com_48]
type=layer
x=324
y=88
width=32
height=32
hide=yes

[com_49]
layer=com_48
type=model
x=-76
y=42
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=model_8517
activemodel=model_8518
zoom=1200
xan=350

[com_50]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00

[com_51]
type=model
x=119
y=125
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_52]
type=model
x=163
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_53]
type=model
x=156
y=163
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_54]
type=model
x=205
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_55]
type=model
x=203
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_56]
type=model
x=196
y=206
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_57]
type=model
x=242
y=30
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_58]
type=model
x=241
y=246
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_59]
type=model
x=280
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_60]
type=model
x=281
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_61]
type=model
x=287
y=202
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_62]
type=model
x=324
y=90
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_63]
type=model
x=119
y=24
width=32
height=32
model=model_8429
zoom=1200
xan=350

[com_64]
type=model
x=119
y=55
width=32
height=32
model=model_8430
zoom=1200
xan=350

[com_65]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[com_66]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
