[com_0]
type=model
x=241
y=194
width=34
height=33
model=model_8956
zoom=348
xan=519
yan=6

[com_1]
type=model
x=410
y=279
width=32
height=32
model=model_8963
zoom=600
xan=391

[com_2]
type=model
x=238
y=140
width=32
height=32
model=model_8955
zoom=478
xan=125
yan=8

[com_3]
type=model
x=240
y=262
width=42
height=38
model=model_8964
zoom=494
xan=395
yan=2047

[com_4]
type=model
x=80
y=279
buttontype=normal
width=32
height=32
model=model_8957
zoom=607
xan=391

[com_5]
type=model
x=135
y=279
buttontype=normal
width=32
height=32
model=model_8958
zoom=607
xan=391

[com_6]
type=model
x=190
y=279
buttontype=normal
width=32
height=32
model=model_8959
zoom=607
xan=391

[com_7]
type=model
x=245
y=279
buttontype=normal
width=32
height=32
model=model_8960
zoom=600
xan=391

[com_8]
type=model
x=300
y=279
buttontype=normal
width=32
height=32
model=model_8961
zoom=600
xan=391

[com_9]
type=model
x=355
y=279
buttontype=normal
width=32
height=32
model=model_8962
zoom=600
xan=391

[com_10]
type=model
x=410
y=279
buttontype=normal
width=32
height=32
model=model_8963
zoom=600
xan=391
