[com_0]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=model_8522
activemodel=model_8521
zoom=1200
xan=350

[com_1]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=model_8524
activemodel=model_8523
zoom=1200
xan=350

[com_2]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=model_8526
activemodel=model_8525
zoom=1200
xan=350

[com_3]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=model_8528
activemodel=model_8527
zoom=1200
xan=350

[com_4]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=model_8530
activemodel=model_8529
zoom=1200
xan=350

[com_5]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=model_8532
activemodel=model_8531
zoom=1200
xan=350

[com_6]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=model_8534
activemodel=model_8533
zoom=1200
xan=350

[com_7]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=model_8536
activemodel=model_8535
zoom=1200
xan=350

[com_8]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=model_8538
activemodel=model_8537
zoom=1200
xan=350

[com_9]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=model_8540
activemodel=model_8539
zoom=1200
xan=350

[com_10]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=model_8542
activemodel=model_8541
zoom=1200
xan=350

[com_11]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=model_8544
activemodel=model_8543
zoom=1200
xan=350

[com_12]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=model_8546
activemodel=model_8545
zoom=1200
xan=350

[com_13]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=model_8548
activemodel=model_8547
zoom=1200
xan=350

[com_14]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=model_8550
activemodel=model_8549
zoom=1200
xan=350

[com_15]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=model_8552
activemodel=model_8551
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=model_8554
activemodel=model_8553
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=model_8556
activemodel=model_8555
zoom=1200
xan=350

[com_18]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=model_8558
activemodel=model_8557
zoom=1200
xan=350

[com_19]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=model_8560
activemodel=model_8559
zoom=1200
xan=350

[com_20]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=model_8562
activemodel=model_8561
zoom=1200
xan=350

[com_21]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=model_8564
activemodel=model_8563
zoom=1200
xan=350

[com_22]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=model_8566
activemodel=model_8565
zoom=1200
xan=350

[com_23]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=model_8568
activemodel=model_8567
zoom=1200
xan=350

[com_24]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,1
model=model_8570
activemodel=model_8569
zoom=1200
xan=350

[com_25]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=model_8572
activemodel=model_8571
zoom=1200
xan=350

[com_26]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,1
model=model_8574
activemodel=model_8573
zoom=1200
xan=350

[com_27]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=model_8576
activemodel=model_8575
zoom=1200
xan=350

[com_28]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,1
model=model_8578
activemodel=model_8577
zoom=1200
xan=350

[com_29]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=model_8580
activemodel=model_8579
zoom=1200
xan=350

[com_30]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,1
model=model_8582
activemodel=model_8581
zoom=1200
xan=350

[com_31]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=model_8584
activemodel=model_8583
zoom=1200
xan=350

[com_32]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,1
model=model_8586
activemodel=model_8585
zoom=1200
xan=350

[com_33]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=model_8588
activemodel=model_8587
zoom=1200
xan=350

[com_34]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,1
model=model_8590
activemodel=model_8589
zoom=1200
xan=350

[com_35]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=model_8592
activemodel=model_8591
zoom=1200
xan=350

[com_36]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,1
model=model_8594
activemodel=model_8593
zoom=1200
xan=350

[com_37]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=model_8596
activemodel=model_8595
zoom=1200
xan=350

[com_38]
type=model
x=248
y=130
width=32
height=32
model=model_8635
zoom=1200
xan=350

[com_39]
type=model
x=248
y=130
width=32
height=32
model=model_8636
zoom=1200
xan=350

[com_40]
type=layer
x=142
y=123
width=32
height=32
hide=yes

[com_41]
layer=com_40
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=model_8597
activemodel=model_8598
zoom=1200
xan=350

[com_42]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[com_43]
layer=com_42
type=model
x=58
y=41
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=model_8599
activemodel=model_8600
zoom=1200
xan=350

[com_44]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[com_45]
layer=com_44
type=model
x=64
y=-32
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=model_8601
activemodel=model_8602
zoom=1200
xan=350

[com_46]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[com_47]
layer=com_46
type=model
x=-18
y=74
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=model_8603
activemodel=model_8604
zoom=1200
xan=350

[com_48]
type=layer
x=165
y=165
width=32
height=32
hide=yes

[com_49]
layer=com_48
type=model
x=83
y=-35
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=model_8605
activemodel=model_8606
zoom=1200
xan=350

[com_50]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[com_51]
layer=com_50
type=model
x=21
y=-73
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=model_8607
activemodel=model_8608
zoom=1200
xan=350

[com_52]
type=layer
x=202
y=201
width=32
height=32
hide=yes

[com_53]
layer=com_52
type=model
x=46
y=-71
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=model_8609
activemodel=model_8610
zoom=1200
xan=350

[com_54]
type=layer
x=314
y=203
width=32
height=32
hide=yes

[com_55]
layer=com_54
type=model
x=-66
y=-73
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=model_8611
activemodel=model_8612
zoom=1200
xan=350

[com_56]
type=layer
x=314
y=218
width=40
height=40
hide=yes

[com_57]
layer=com_56
type=model
x=-66
y=-88
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=model_8613
activemodel=model_8614
zoom=1200
xan=350

[com_58]
type=layer
x=314
y=233
width=40
height=40
hide=yes

[com_59]
layer=com_58
type=model
x=-66
y=-103
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=model_8615
activemodel=model_8616
zoom=1200
xan=350

[com_60]
type=layer
x=314
y=248
width=40
height=40
hide=yes

[com_61]
layer=com_60
type=model
x=-66
y=-118
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=model_8617
activemodel=model_8618
zoom=1200
xan=350

[com_62]
type=layer
x=314
y=263
width=40
height=40
hide=yes

[com_63]
layer=com_62
type=model
x=-66
y=-133
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=model_8619
activemodel=model_8620
zoom=1200
xan=350

[com_64]
type=layer
x=314
y=278
width=40
height=40
hide=yes

[com_65]
layer=com_64
type=model
x=-66
y=-148
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=model_8621
activemodel=model_8622
zoom=1200
xan=350

[com_66]
type=layer
x=314
y=293
width=40
height=40
hide=yes

[com_67]
layer=com_66
type=model
x=-66
y=-163
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=model_8623
activemodel=model_8624
zoom=1200
xan=350

[com_68]
type=layer
x=314
y=308
width=40
height=40
hide=yes

[com_69]
layer=com_68
type=model
x=-66
y=-178
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=model_8625
activemodel=model_8626
zoom=1200
xan=350

[com_70]
type=layer
x=347
y=230
width=32
height=50
hide=yes

[com_71]
layer=com_70
type=model
x=-99
y=-100
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=model_8627
activemodel=model_8628
zoom=1200
xan=350

[com_72]
type=layer
x=280
y=132
width=120
height=32
hide=yes

[com_73]
layer=com_72
type=model
x=-32
y=-2
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=model_8629
activemodel=model_8630
zoom=1200
xan=350

[com_74]
type=layer
x=280
y=147
width=130
height=45
hide=yes

[com_75]
layer=com_74
type=model
x=-32
y=-17
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=model_8631
activemodel=model_8632
zoom=1200
xan=350

[com_76]
type=layer
x=280
y=162
width=180
height=80
hide=yes

[com_77]
layer=com_76
type=model
x=-32
y=-32
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=model_8633
activemodel=model_8634
zoom=1200
xan=350

[com_78]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
option=Close

[com_79]
type=model
x=83
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_80]
type=model
x=130
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_81]
type=model
x=121
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_82]
type=model
x=172
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_83]
type=model
x=165
y=165
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_84]
type=model
x=210
y=59
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_85]
type=model
x=204
y=204
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_86]
type=model
x=249
y=32
buttontype=normal
width=27
height=24
zoom=400
option=Set Junction

[com_87]
type=model
x=249
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_88]
type=model
x=248
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_89]
type=model
x=290
y=61
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[com_90]
type=model
x=289
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_91]
type=model
x=294
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_92]
type=model
x=324
y=32
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[com_93]
type=model
x=330
y=94
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[com_94]
type=model
x=344
y=251
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[com_95]
type=model
x=365
y=62
buttontype=normal
width=27
height=27
zoom=400
option=Set Junction

[com_96]
type=model
x=377
y=165
buttontype=normal
width=29
height=29
zoom=400
option=Set Junction

[com_97]
type=model
x=383
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_98]
type=model
x=119
y=24
width=32
height=32
model=model_8429
zoom=1200
xan=350

[com_99]
type=model
x=119
y=55
width=32
height=32
model=model_8430
zoom=1200
xan=350

[com_100]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[com_101]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
