[com_0]
type=model
x=61
y=83
width=32
height=32
model=model_6555
zoom=400
xan=437

[com_1]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,1
activemodel=model_6557
zoom=400
xan=437

[com_2]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,2
activemodel=model_6559
zoom=400
xan=437

[com_3]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,3
activemodel=model_6560
zoom=400
xan=437

[com_4]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,4
activemodel=model_6561
zoom=400
xan=437

[com_5]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,5
activemodel=model_6562
zoom=400
xan=437

[com_6]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,6
activemodel=model_6563
zoom=400
xan=437

[com_7]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,7
activemodel=model_6564
zoom=400
xan=437

[com_8]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,8
activemodel=model_6565
zoom=400
xan=437

[com_9]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,9
activemodel=model_6566
zoom=400
xan=437

[com_10]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,gotr_amulet_colour
script1=eq,10
activemodel=model_6558
zoom=400
xan=437

[com_11]
type=model
x=64
y=173
width=32
height=32
model=model_6556
zoom=400
xan=468
yan=2045

[com_12]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=eq,1
activemodel=model_6545
zoom=400
xan=468
yan=2045

[com_13]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,1
script2=lt,4
activemodel=model_6547
zoom=400
xan=468
yan=2045

[com_14]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,3
script2=lt,7
activemodel=model_6548
zoom=400
xan=468
yan=2045

[com_15]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,6
script2=lt,11
activemodel=model_6549
zoom=400
xan=468
yan=2045

[com_16]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,10
script2=lt,16
activemodel=model_6550
zoom=400
xan=468
yan=2045

[com_17]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,15
script2=lt,22
activemodel=model_6551
zoom=400
xan=468
yan=2045

[com_18]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,21
script2=lt,29
activemodel=model_6552
zoom=400
xan=468
yan=2045

[com_19]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,28
script2=lt,37
activemodel=model_6553
zoom=400
xan=468
yan=2045

[com_20]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,36
script2=lt,46
activemodel=model_6554
zoom=400
xan=468
yan=2045

[com_21]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,45
activemodel=model_6546
zoom=400
xan=468
yan=2045

[com_22]
type=text
x=32
y=129
width=88
height=14
font=p12_full
shadowed=yes
text=Water Collected
colour=0xFFFF00

[com_23]
type=text
x=46
y=45
width=51
height=14
font=p12_full
shadowed=yes
text=Time Left
colour=0xFFFF00

[com_24]
type=model
x=120
y=211
width=32
height=32
model=model_6544
zoom=400
xan=409
yan=97

[com_25]
type=text
x=126
y=216
width=17
height=14
script1op1=push_varbit,tog_tears_collected
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00

[com_26]
type=layer
x=4
y=60
width=145
height=190
