[com_0]
type=model
x=240
y=152
width=32
height=32
model=model_11312
zoom=434
xan=517

[com_1]
type=model
x=138
y=256
buttontype=normal
width=32
height=32
model=model_11311
zoom=450
xan=517

[com_2]
type=model
x=187
y=257
buttontype=normal
width=32
height=32
model=model_11307
zoom=450
xan=519

[com_3]
type=model
x=240
y=257
buttontype=normal
width=32
height=32
model=model_11308
zoom=450
xan=519

[com_4]
type=model
x=294
y=258
buttontype=normal
width=32
height=32
model=model_11309
zoom=450
xan=519

[com_5]
type=model
x=343
y=258
buttontype=normal
width=32
height=32
model=model_11310
zoom=450
xan=519

[com_6]
type=text
x=432
y=5
buttontype=normal
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_7]
type=text
x=24
y=40
width=192
height=14
font=p12_full
shadowed=yes
text=Click arrow buttons to move taper.
colour=0xFFFF00

[com_8]
type=text
x=24
y=56
width=192
height=14
font=p12_full
shadowed=yes
text=Press the Light button to light the
colour=0xFFFF00

[com_9]
type=text
x=24
y=72
width=47
height=14
font=p12_full
shadowed=yes
text=candles.
colour=0xFFFF00
