[com_0]
type=rect
x=7
y=11
width=497
height=310
fill=yes
colour=0x806102

[com_1]
type=rect
x=13
y=17
width=484
height=298
fill=yes
colour=0x422502

[com_2]
type=rect
x=319
y=24
width=168
height=282
fill=yes
colour=0x543E04

[com_3]
type=model
x=78
y=167
width=91
height=94
model=model_6474
zoom=328

[com_4]
type=model
x=62
y=130
buttontype=select
width=26
height=27
model=model_6477
zoom=328
option=turn tile

[com_5]
type=model
x=93
y=131
buttontype=select
width=27
height=25
model=model_6488
zoom=328
option=turn tile

[com_6]
type=model
x=124
y=131
buttontype=select
width=26
height=26
model=model_6495
zoom=328
option=turn tile

[com_7]
type=model
x=154
y=131
buttontype=select
width=26
height=26
model=model_6496
zoom=328
option=turn tile

[com_8]
type=model
x=186
y=131
buttontype=select
width=26
height=26
model=model_6497
zoom=328
option=turn tile

[com_9]
type=model
x=63
y=162
buttontype=select
width=26
height=26
model=model_6498
zoom=328
option=turn tile

[com_10]
type=model
x=93
y=162
buttontype=select
width=26
height=26
model=model_6499
zoom=328
option=turn tile

[com_11]
type=model
x=123
y=162
buttontype=select
width=26
height=26
model=model_6500
zoom=328
option=turn tile

[com_12]
type=model
x=154
y=162
buttontype=select
width=26
height=26
model=model_6501
zoom=328
option=turn tile

[com_13]
type=model
x=186
y=162
buttontype=select
width=26
height=26
model=model_6478
zoom=328
option=turn tile

[com_14]
type=model
x=63
y=192
buttontype=select
width=26
height=26
model=model_6479
zoom=328
option=turn tile

[com_15]
type=model
x=93
y=192
buttontype=select
width=26
height=26
model=model_6480
zoom=328
option=turn tile

[com_16]
type=model
x=123
y=192
buttontype=select
width=26
height=26
model=model_6481
zoom=328
option=turn tile

[com_17]
type=model
x=154
y=192
buttontype=select
width=26
height=26
model=model_6482
zoom=328
option=turn tile

[com_18]
type=model
x=185
y=192
buttontype=select
width=26
height=26
model=model_6483
zoom=328
option=turn tile

[com_19]
type=model
x=63
y=222
buttontype=select
width=26
height=26
model=model_6484
zoom=328
option=turn tile

[com_20]
type=model
x=93
y=222
buttontype=select
width=26
height=26
model=model_6485
zoom=328
option=turn tile

[com_21]
type=model
x=123
y=222
buttontype=select
width=26
height=26
model=model_6486
zoom=328
option=turn tile

[com_22]
type=model
x=154
y=222
buttontype=select
width=26
height=26
model=model_6487
zoom=328
option=turn tile

[com_23]
type=model
x=186
y=222
buttontype=select
width=26
height=26
model=model_6489
zoom=328
option=turn tile

[com_24]
type=model
x=63
y=254
buttontype=select
width=26
height=26
model=model_6490
zoom=328
option=turn tile

[com_25]
type=model
x=93
y=254
buttontype=select
width=26
height=26
model=model_6491
zoom=328
option=turn tile

[com_26]
type=model
x=124
y=253
buttontype=select
width=26
height=26
model=model_6492
zoom=328
option=turn tile

[com_27]
type=model
x=154
y=253
buttontype=select
width=26
height=26
model=model_6493
zoom=328
option=turn tile

[com_28]
type=model
x=185
y=254
buttontype=select
width=26
height=26
model=model_6494
zoom=328
option=turn tile

[com_29]
type=model
x=313
y=145
buttontype=normal
width=157
height=164
model=model_6476
zoom=336
xan=2036
yan=2
option=Reset puzzle

[com_30]
type=model
x=343
y=89
width=121
height=58
model=model_6473
zoom=1021
xan=2037
yan=1519

[com_31]
type=text
x=401
y=29
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
